body {
    margin: 0;
    padding: 0;
}

main {
    padding: 16px;
}

footer {
    padding: 24px 24px;
    background-color: #B4CF66;
}

img {
    height: 200px;
}

nav {
    color: black;
    border-bottom: 1px solid;
    padding: 16px;
}

.recipe-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

header {
    background-color: #FF5A33;
    color: white;
}

a {
    text-decoration: none;
    color: #44803F;
}

.main-nav{
    color: white;
    font-weight: bold;
}

h1 {
    color: #146152;
}

tr:nth-child(even) {
    background-color: lightgray;

}
